<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>check up/down</title>
	<script type="text/javascript" src="../../public/js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../public/css/client.css">
	<script type="text/javascript" src="../../public/js/canvasjs.min.js"></script>
</head>
<body>
	<div id="div-input">
		<input id="url" type="text" size="50" />
		<input id="button-submit" type="button" value="Submit" onClick="showDynamicChart()" />
		<input id="button-stop" type="button" value="Stop" onClick="stop()" />
	</div>
	
	<div id="dynamicChartContainer" class="dynamicChart"></div>
</body>
</html>
